form div.required label.control-label:after {
  content:" * ";
  color:red;
}

div.field_view {
	font-weight: bold;
	font-size: 150%;
}

.spacer {
    margin-top: 20px; /* define margin as you see fit */
}

.spacer_small {
	 margin-top: 10px; /* define margin as you see fit */
}

@media(max-width:768px) {

	.spacer {
	    margin-top: 10px; /* define margin as you see fit */
	}

	.spacer_small {
	 margin-top: 5px; /* define margin as you see fit */
}
}
